[2018-08-23 22:51] greenkeeper opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:51] greenkeeper opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:52] greenkeeper opened #3 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:52] greenkeeper opened #4 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:52] greenkeeper opened #5 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:52] greenkeeper opened #6 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 22:53] greenkeeper opened #7 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-08-23 23:53] #1 closed, assigned to nobody

[2018-08-23 23:53] #7 closed, assigned to nobody

[2018-08-23 23:54] #6 closed, assigned to nobody

[2018-08-23 23:54] #5 closed, assigned to nobody

[2018-08-23 23:54] #4 closed, assigned to nobody

[2018-08-23 23:54] #3 closed, assigned to nobody

[2018-08-23 23:54] #2 closed, assigned to nobody

[2020-04-16 20:39] developit opened #9 "Support Interceptors API"
https://github.com/axios/axios#interceptors

[2020-04-16 21:47] developit opened #10 ""Lite" version"
Personally I don't find myself relying on deep configuration merging. It might be nice to have an option that doesn't include that.

[2020-04-17 02:02] AjaxSolutions opened #11 "Is there support for aborting requests?"
An example, please.

[2020-04-17 02:21] konojunya commented on #11
I think it would be nice to add a signal to the axios option and abort it as an API.

Ideally, the following is how to use it :)

[code]

The implementation also seems to be feasible by passing a signal under this option.

https://github.com/developit/redaxios/blob/982fd7fe30189e662cda5b72f9b37c8f1babc038/src/index.js#L174

[2020-04-17 07:50] misbahansori opened #12 "Add baseURL"

[2020-04-17 11:46] AjaxSolutions opened #13 "transformResponse?"
I see transformRequest, but there is no transformResponse.

[2020-04-17 13:57] jaredpalmer commented on #9
This is a really big one. It's very useful for adding an automatic logout based on a status code

[2020-04-17 14:09] AjaxSolutions opened #14 "Is the goal to be 100% compatible with Axios?"
As of this writing some features are still not supported.

[2020-04-17 14:51] developit commented on #13
Good catch - I'll add this (and tests for both) in #9

[2020-04-17 14:53] developit commented on #11
@konojunya that's the plan! I actually am [already exporting `axios.CancelToken`](https://github.com/developit/redaxios/blob/982fd7fe30189e662cda5b72f9b37c8f1babc038/src/index.js#L193) as an alias of AbortController and just need to wire up the `.signal` property.

[2020-04-17 14:55] developit commented on #14
Aside from `uploadProgress` and `downloadProgress`, the goal is to support most/all features. If the size increases too much, it might make sense to provide a `lite` version that doesn't include configuration inheritance or interceptors. This would be useful for folks who are just using Axios as a simple convenience lib for making network requests.

[2020-04-17 15:32] numfin opened #15 "another js library"
heeeeeeeeeellll nah :D

typescript, please

[2020-04-17 15:48] #15 closed

[2020-04-17 15:48] developit commented on #15
It's typed, just written in JS.

[2020-04-17 16:33] vitormalencar commented on #9
indeed I use this feature all the time =) 👍

[2020-04-17 16:35] lifeart opened #16 "add custom 'fetch' support (as config param?)"
We have `isomorphic` fetch for ember - https://github.com/ember-cli/ember-fetch it working in node & browser to bring smooth SSR experience, I whould like to have redaxios, with ember-fetch support

[2020-04-17 18:23] dlemper commented on #16
Would be interested, too, so that I can use it under node as well using node-fetch.
When I‘m back at my notebook, I can create a pull request though

[2020-04-17 19:28] developit commented on #16
Any reason it's not possible to install your fetch polyfill globally? I realize it's not elegant, but `global.fetch=fetch` does work.

[2020-04-17 20:29] lifeart commented on #16
@developit it's possible, but not clean and hard to mock/test/maintain

[2020-04-18 10:40] andreisocaciu opened #17 "ReferenceError: self is not defined"
I get an error when trying to use redaxios with Next.js.
Maybe it's because of SSR?

[code]

[2020-04-18 13:15] developit commented on #17
Yes. Under node, use axios.

[2020-04-18 13:17] andreisocaciu commented on #17
I'm in the browser, but Next.js apps are server-side rendered.

[2020-04-18 13:25] developit commented on #17
There are two solutions here:

1. Publish redaxios with a `browser` field and point `main` at the axios package
2. Use Webpack aliases to automatically load "redaxios" instead of "axios", but only in browser bundles:

[code]

[2020-04-18 13:29] developit commented on #16
I would definitely be interested in supporting this as long as the size impact is minimal. Adding it [here](https://github.com/developit/redaxios/blob/982fd7fe30189e662cda5b72f9b37c8f1babc038/src/index.js#L171) would make it configurable both per-instance (`axios.create({fetch})`) and per-request (`axios.get('',{fetch})`).

[2020-04-19 10:21] shdq opened #18 "License: why do you pick Apache?"
Hello @developit

What’s the reason of picking Apache instead of MIT?

Thank you!

[2020-04-19 12:49] AjaxSolutions opened #19 "Missing timeout support"
I don't see that the timeout config is supported.

[2020-04-19 14:04] developit commented on #18
It's essentially required by my employer, otherwise I'd publish under MIT. The two are fairly similar licenses though in terms of being permissive.

[2020-04-19 14:05] developit commented on #19
Indeed, good catch.

[2020-04-19 15:54] crissto commented on #16
Hi!
Can I give this a try? Seems an easy, useful issue.

[2020-04-20 06:33] shdq commented on #18
Got it, thanks.

[2020-04-20 06:33] #18 closed

[2020-04-20 19:45] David5280 opened #21 "discrepancy in response data"
Hey there,

I'm trying to convert some axios requests to `redaxios` and I'm noticing a discrepancy in the responses.  The data object coming back from `redaxios` is stringified, whereas the data object I currently receive with `axios` is valid JSON. I am wondering if it would make sense to do this conversion in `redaxios` so that it is truly a drop-in replacement of axios?

Looking forward to hear

[2020-04-20 21:24] developit commented on #21
Ah - I'm guessing Axios inspects the response headers and determines when JSON should be used rather than text. I think we can add that [here](https://github.com/developit/redaxios/blob/982fd7fe30189e662cda5b72f9b37c8f1babc038/src/index.js#L185). Good catch!

[2020-04-20 21:24] developit commented on #16
Yeah, go ahead @crissto!

[2020-04-21 00:20] jsyang commented on #14
`.interceptors` for instance is missing on a redaxios instance

[2020-04-21 00:24] developit commented on #14
@jsyang correct, see #9.

[2020-04-22 14:38] huv1k opened #22 "Add typescript types"
Right now there are no built-in types, we are using types from `axios`, but it would be nice to have built-in types for `redaxios`.

[2020-04-22 18:21] Arminkhodaei commented on #9
I already have this implemented but without its test :)
Should I PR?

[2020-04-27 18:13] numfin commented on #15
@developit cringe

[2020-04-29 04:27] lanceliamll opened #27 "Red axios config not working"
im currently using axios(CONFIGS_HERE) and suddenly content-type and headers doesnt work.
tried to have a
[code]
but it doesnt reflect on my API request. its still "application/json"

Please help.

[2020-04-30 10:58] barbalex commented on #17
Same happens for anyone who uses gatsbyjs

[2020-05-05 14:25] MeloJR opened #28 "Not work with FormData"
When you pass `FormData` objects as the data parameter the library sends the request as `application/json`.

The problem is here:
[code]
as `typeof new FormData() === 'object'`.

[2020-05-07 17:51] tandrewnichols opened #29 "Params aren't serialized"
Not sure what level of compatibility is the goal here (ala #14), but axios serializes `params` as query string parameters and redaxios doesn't. E.g.

[code]

[2020-05-07 20:13] tandrewnichols opened #30 "QUESTION: How does redaxios handle cookies?"
With axios you have to set `withCredentials` or cookies aren't sent to the server. Some things I've read suggest `fetch` requires just `credentials`. I don't see either of those things (or really much at all related to cookies) in the redaxios source code, _and yet_ I'm seeing cookies sent with requests. Which is neat. But I want to make sure that keeps happening and/or understand what makes it ha

[2020-05-09 22:50] resynth1943 commented on #22
Hehe, just added some... :wink:

[2020-05-11 19:01] developit commented on #29
I'd like to support this. It should be trivial to implement atop `URLSearchParams`.

[2020-05-11 19:02] developit commented on #28
Good catch. Happy to accept a PR, this will likely require inspecting the constructor.

[2020-05-11 19:03] developit commented on #27
Are you using FormData? This seems like it might be the same issue as #28.

[2020-05-11 19:09] developit commented on #30
Credentials are always sent when requests are same-origin - that should be the case in both libraries, since it is the same in Fetch and XHR. I'd forgotten to forward `withCredentials` to fetch, which is a bug - it should set `credentials:'include'` when `true`.

[2020-05-11 19:25] crissto commented on #30
This seems easy, I can send a PR if it's ok.

[2020-05-11 19:26] crissto commented on #29
This seems easy, I can send a PR if it's ok.

[2020-05-11 19:50] crissto commented on #28
Hi!
would the solution to this be, check if data is FormData and set a different Content-Type? If it's that I can fix it and send a PR

[2020-05-16 09:46] lifeart commented on #16
@developit @crissto thank you for your work!
Any estimates about new release?

[2020-05-31 23:29] timorthi commented on #30
@crissto Are you still working on this by any chance?

[2020-06-01 17:59] crissto commented on #30
Sorry, I got sidetracked and forgot to push the PR.

[2020-06-05 19:59] dpikt commented on #14
Potentially philosophical-ish question- if there's 100% parity between the two libraries, why would I ever choose to use `axios` over `redaxios`?

[2020-06-06 16:59] fabricionaweb commented on #28
@crissto I guess we can just check `!(data instanceof FormData)`
But not sure if that has side-effects... hope @developit knows more than me about it :D

[2020-06-06 17:06] developit commented on #28
@fabricionaweb yup, that's likely going to be the smallest check. Another option would be checking `if (typeof data.append=='function'){}`, but the size win likely isn't worth the false positive chance.

[2020-06-19 14:35] mahdisalehian opened #40 "baseURL doesn't work"

[2020-06-19 14:41] mahdisalehian opened #41 "baseURL doesn't work"
I used baseURL in react but it doesn't affect the url

[code]

i receive this :

index.js:168 POST http://localhost:3000/auth/admin-login 404 (Not Found)

[2020-06-21 15:50] #40 closed

[2020-06-21 21:06] RyanChristian4427 commented on #41
This has already been noted and a fix has been provided at #20

[2020-07-10 19:01] kevlened commented on #17
[I forked to get this working in sapper.](https://github.com/kevlened/redaxios)

```yarn add kevlened/redaxios```

[2020-07-15 19:03] developit commented on #16
Merged! will release today.

[2020-07-16 02:53] #29 closed

[2020-07-21 07:41] hasan-wajahat commented on #21
Actually the default value for `responseType` in axios is `json`. So to match the API of axios, `redaxios` should do the same.

[2020-07-21 17:31] hasan-wajahat opened #43 "QUESTION: When can we expect a new release on npm registry?"
I am really looking forward to using this package on my production website but on the latest released version there is bug related to posting formdata. This bug has been resolved and the PR for it merged but there has not been release since this was done.
I tried using the github url in package.json but for some reason even though the package was added but the `dist` folder was never built. So I c

[2020-07-23 00:41] developit commented on #41
Yep yep - apologies for the slow release, I got stuck refactoring interceptors and then the work week ended.

[2020-07-23 02:27] developit commented on #43
Today! I just published [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:27] #43 closed

[2020-07-23 02:28] developit commented on #12
Support for baseURL was published in [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:28] #12 closed

[2020-07-23 02:31] developit commented on #14
I doubt the end result is 100% parity, since Fetch is only just now getting progressive upload support spec'd out.

The philosophical goal of this library is not to reduce the size of axios (it's not even that large). It's make it easy to move to Fetch without requiring a refactor. For folks looking to squeeze the size of their code, redaxios still includes a bunch of architectural niceties from A

[2020-07-23 02:32] developit commented on #16
Apologies for the wait! I spent too much time refactoring and shaving bytes off last week. Just published [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0) which includes custom fetch support.

[2020-07-23 02:32] #16 closed

[2020-07-23 02:32] developit commented on #17
@kevlened apologies for the delay, [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0) is now published and includes this fix.

[2020-07-23 02:32] #17 closed

[2020-07-23 02:33] developit commented on #17
@barbalex in Gatsby you should never be using Redaxios on the server (or during prerendering). It must be aliased to `axios`, since redaxios is not a Node HTTP library.

[2020-07-23 02:34] developit commented on #21
Thanks for the tip @hasan-wajahat - I actually had read that wrong in the docs (I've never used Axios!). I amended the solution from #26 based on your comment.

This issue is now fixed in [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:34] #21 closed

[2020-07-23 02:34] developit commented on #27
Fixed in [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:34] #27 closed

[2020-07-23 02:34] developit commented on #28
Fix published in [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:34] #28 closed

[2020-07-23 02:35] developit commented on #30
Fix published in [version 0.3.0](https://github.com/developit/redaxios/releases/tag/0.3.0).

[2020-07-23 02:35] #30 closed

[2020-07-23 02:36] #41 closed

[2020-07-23 05:58] hasan-wajahat commented on #43
Thank you @developit for such a quick response!

[2020-07-23 06:01] lanceliamll commented on #27
Thank you sir!

[2020-07-23 08:53] barbalex commented on #17
@developit  yes. And that is important to know for gatsby users that would use it server side.

Unfortunately gatsby causes redaxios to run server side while building the app, even when it is used only client side. Which will probably be the case for most gatsby users using redaxios and is so in our case.

Anyway: v0.3.0 solves the issue. Thanks a lot!

[2020-07-23 17:28] Pyrolistical commented on #14
you are jebaiting people by referring to the axios documentation. that implies this a drop in replacement

[2020-07-23 18:17] melwyn-people-interactive commented on #11
I would like to work on it.

So instead of exposing `AbortController` as `CancelToken` can we wrap it in a similar api as axios

e.g.
[code]
on calling `source()` we'll return the `.signal` from the `AbortController`
on calling `source.cancel()` we'll call the `.abort()` on the `AbortController`

[2020-07-23 20:20] rschristian opened #45 "Cannot use relative URL for the baseURL option"
(Using Preact-CLI's issue template as I find it easy to read)

**Do you want to request a _feature_ or report a _bug_?**

Likely a bug

**What is the current behavior?**

Currently Redaxios cannot use relative URLs for its `baseURL`. The `URL()` constructor, if passed a `base` parameter, needs that parameter to be a valid URL on its own, and a relative URL like `/api/` is not. [MDN Docs](https://d

[2020-07-24 05:03] mfix22 commented on #45
If it helps, this PR reproduces the issue: https://github.com/carbon-app/carbon/pull/1054 (just open the "Background Image" menu w/ a debug point set in the `redaxios` try/catch)

[2020-07-25 23:07] loiu92 opened #48 "No response data in Error Case"
Hello,

I just try your module and it's working well.
I just don't have any response object when HTTP Code is 422

[code]

But in Axios, i have in the returned object, a `response` field then a `data` with my json.

Did i do something wrong (i didn't change anything from my axios implementation)

Thanks in advance :)

[2020-07-26 16:45] melwyn95 commented on #19
@developit I think we can pick this up after request cancellation feature is done.

Since fetch does not support timeout (I don't know if `fetch` does support timeout) out of the box (we can acheive via `setTimeout` and `AbortController`)

One way to implement this is when the `timeout` is provided in the `options` we'll create an AbortController and pass the singal to fetch and we'll set off a `s

[2020-08-03 23:56] ragaeeb opened #52 "Sending an array in a GET request turns it into a string"
If you send an array as a parameter in a GET request, `redaxios` turns that into a string separated by commas. This seems like a bug.

On the server-side (ie: PHP) we would expect that to be provided as an array, but it ends up being a string.

In `axios` this is correctly kept as an array.

[2020-08-05 13:09] lohfu opened #53 ""Cannot find name 'T_8'""
The generated types seem to be slightly wrong...

[code]

[2020-08-14 07:00] auburnsummer commented on #48
It looks like at line 204-205 it checks for a 4xx/5xx status before parsing the response data, so there won't be response data on error responses.

For me, I just copied the entire index.js into my own project. Then I removed line 205 (`if  (!ok)...`) and changed line 219 to `.then(() => ok ? response : Promise.reject(response))`. Seemed to work fine.

[2020-08-14 12:43] FedericoBiccheddu commented on #14
I agree, I would state in the docs that this is *not* a drop-in replacement library.

[2020-08-21 20:13] kingkong404 opened #54 "Support for deno?"
Would be great! Thanks!

[2020-09-04 05:34] Lxxyx commented on #53
Same issue

[2020-10-02 12:31] bsdis opened #58 "lower case method?"
when i do redaxios.patch, i can see that its translated to `patch` and not `PATCH` which gives problems in terms of 400 bad request.

Looking through the redaxios code this seems intentional. Why? According to RFC 7231 page 21. 1) the table uses capital case and doesn't say anywhere that variations of the values in the table are allowed. 2) last sentence on page 20
methods are case sensitive and s

[2020-10-09 14:49] developit commented on #54
Any idea what this would entail? I've never used Deno, and Redaxios is currently browser-only. If Deno supports `fetch()` though, merging #57 should make redaxios work there.

[2020-10-09 14:51] #53 closed

[2020-10-09 15:40] bsdis commented on #58
i used .patch method and got 404 bad request error. I dont think i used any polyfills...i just used redaxios out of the box. As soon as i switched back to normal axios.patch it worked great and where redaxios produced a patch request, axios produced a PATCH request and its been working since

[2020-10-09 15:41] #45 closed

[2020-10-09 15:42] developit commented on #58
What server/service is producing the 400?

[2020-10-09 15:45] developit commented on #48
Fixed in #56

[2020-10-09 15:45] #48 closed

[2020-10-09 15:46] bsdis commented on #58
its a 404... the error already seemed to come before request even was transmitted to the server.
Almost asif the browser halted it even.
I am using a django backend

[2020-10-09 15:52] developit commented on #14
Nowhere in the readme do I state that redaxios is intended to be identical to Axios. That would make the module pointless.

It doesn't make sense to replicate Axios' documentation here, because redaxios is a strict subset of its functionality. A list of compatibility notes would be better, I simply haven't had the time to write it and currently would prefer to spend that time merging the open PRs

[2020-10-09 15:54] developit commented on #58
tbh that really does sound like a polyfill then. Are you able to provide any details about your frontend setup? Are you using a build tool or off-the-shelf setup like Next.js, create-react-app, Vue CLI, etc?

[2020-10-09 15:58] bsdis commented on #58
I am using CRA --template=typescript and i just installed using yarn add
redaxios and that was it pretty much

On Fri, Oct 9, 2020 at 5:54 PM Jason Miller <notifications@github.com>
wrote:

--
Med venlig hilsen
Bjørn Skovlund Dissing

[2020-10-09 17:50] Pyrolistical commented on #14
well, then how does one understand what is and is not implemented? you only linked to the axios document, so that would make people assume everything is implemented.

even in the readme you say `// use as you would normally`, except that's a lie

[2020-10-09 18:47] FedericoBiccheddu commented on #14
Absolutely. My comment was not intended do bash the project or something.

I did comment because in the company where I work, we choose to change `axios` to `redaxios` because of what is stated in the readme. These were the selling points for us:
- Axios has a great API [...] Redaxios provides **that API** in 800 bytes [...]
- [...] Redaxios exists so that **you can use that same API** [...]
- `im

[2020-10-09 21:36] developit commented on #14
One part of this that is perhaps worth mentioning is that portions of the differences are just because redaxios is new, and there's still work to do.

[2020-10-10 16:37] Stevenje commented on #54
@developit Yes, that was my thoughts exactly, Deno supports `fetch()` along with all other web browser API's out of the box so should be an easy migration.

Then registering it with https://deno.land/x

[2020-10-10 16:42] Stevenje commented on #54
https://dev.to/jotafeldmann/converting-a-node-project-to-deno-9dp

[2020-10-14 11:15] mixalturek commented on #48
Hi, any plan for release of the fix?

[2020-10-19 15:14] orinayo commented on #48
@developit, do you plan on releasing this fix soon?

[2020-11-04 13:53] imtbl opened #59 "`redaxios.head()` alias not implemented"
See <https://github.com/axios/axios#axiosheadurl-config>.

All the rest is there: <https://github.com/developit/redaxios/blob/e62473334d371a3c15fdd13e4854e487e4c11318/src/index.js#L78-L94>

Probably an oversight?

[2020-11-06 14:15] #59 closed

[2020-11-11 16:34] jesec commented on #58
I can confirm the bad request issue. My backend is Node.JS with Express.

browserslist (used by `babel`, `postcss`, etc.) is `> 5%` in my project. That means:
[code]

I don't have any additional polyfill configuration in my project. Thus, it is extremely unlikely that the issue is related to polyfill.

Why not just simply use the upper case? It is more conforming _and just makes more sense_.

[2020-11-11 19:35] bsdis commented on #58
i have switched back to standard axios because of this and other suspicious behaviours

[2020-11-28 12:37] ryands17 commented on #58
@developit facing this issue as well. I have a repro with `json-server` with CRA [here](https://github.com/ryands17/swr-todos) that faces this with `patch`.

Replacing `axios` with `redaxios` will highlight the issue.

[2021-01-29 09:32] andreychev commented on #48
@developit

Any news?

[2021-02-03 17:48] developit commented on #48
@andreychev I just published 0.4.1 with this included.

[2021-02-03 19:35] jsantt commented on #19
I've also good experience of using AbortController. Here is a full code example of utility function implementing the timeout:

/**
 * Aborts fetch request after given time. Usage:
 *
 * fetch('chatoptions/waittime', {
 *   signal: abortFetchInSeconds(10)
 * })
 *
 * @param { number } timeout - abort time (timeout) in seconds
 * @return AbortSignal|undefined - undefined is returned when browser doe

[2021-02-06 12:48] cztomsik commented on #54
You just need to add file `/mod.ts` with `export * from './src/index.js'` and then go to https://deno.land/x and click on `Add a module` button
![image](https://user-images.githubusercontent.com/3526922/107118503-cb8cbc00-6881-11eb-8259-07c8296daf7e.png)

[2021-02-14 20:22] leomp12 opened #62 "Support axios Config Defaults"
https://github.com/axios/axios#config-defaults

As ["the goal is to support most/all features"](https://github.com/developit/redaxios/issues/14#issuecomment-615290952), [Config Defaults](https://github.com/axios/axios#config-defaults) also seems to be an important feature.

Currently, something like:

[code]

Results in:

[code]

[2021-02-26 20:35] developit commented on #62
@leomp12 I wasn't aware of that usage pattern. FWIW defaults *are* supported, we just don't prepopulate the headers object. You can do this:

[code]

or this:

[code]

[2021-02-27 02:35] leomp12 commented on #62
Great @developit , I'll give a try, thanks!

[2021-03-10 20:05] leomp12 opened #63 "Support axios `getUri`"
https://github.com/axios/axios#config-defaults

As ["the goal is to support most/all features"](https://github.com/developit/redaxios/issues/14#issuecomment-615290952), supporting all [instance methods](https://github.com/axios/axios#instance-methods) also seems to be an important feature.

Currently, something like:

[code]

Results in:

[code]

`getUri` method is specially useful when working wi

[2021-04-03 08:52] einkoro opened #64 "credentials not implemented for fetch in some environments such as cfw"
When trying to use redaxios on CloudFlare Workers it will throw the following error:
[code]
As the default is same-origin for credentials this could probably be worked around by not passing a credentials property when `withCredentials` is set to false:
https://developer.mozilla.org/en-US/docs/Web/API/Request/credentials

[2021-04-04 04:31] eperedo commented on #58
Same problem with nextjs v10.1.3 and redaxios 0.4.1 as unique dependency (besides react). According [their docs polyfills](https://nextjs.org/docs/basic-features/supported-browsers-features#polyfills) are only included if browser does not support fetch.

Using patch method convert the method to lowercase, but using axios as a function works well.

[code]

[2021-04-15 09:50] Maggi64 commented on #58
Encountered the same issue.
PATCH is case sensitive and needs to be uppercase: https://github.com/github/fetch/issues/254

[2021-04-16 08:38] Jacknq opened #65 "post multiple files not woking as expected"
hi,
when posting files via axios everything works as expected, once i switch to redaxios, the data re not send and serialized same way..
[code]

[code]

[2021-04-16 18:19] semoal commented on #58
Facing the same issue with `json-server` + latest `vite` version. Tried with axios and worked nicely, and then redaxios crashed about cors.

This is the error thrown
![Screenshot 2021-04-16 at 20 18 58](https://user-images.githubusercontent.com/22656541/115067313-03068d00-9ef1-11eb-9172-ec65472923be.png)

@developit I can open a pull request with the line of "patch" to "PATCH", I've tried it local

[2021-04-16 18:21] developit commented on #58
@semoal that would be good. Cc me when you do.

[2021-04-16 18:40] semoal commented on #58
Here you have Jason, https://github.com/developit/redaxios/pull/66 👍🏻

[2021-04-20 22:24] vegerot opened #67 "Request: Run with axios test suite"
In order to ensure maximum compatibility with Axios, it would be make devs feel much more comfortable if redaxios pulled in the [axios test suite](https://github.com/axios/axios/tree/master/test) and could pass all of its tests.  Or at least have a list of failed tests, so that we can explain to devs which features aren't supported and why

[2021-04-27 02:35] developit commented on #67
If anyone wants to do this, that would be great! I don't have the time.

[2021-05-16 16:16] porokhva commented on #65
@Jacknq because of redaxios uses native fetch() in this case[ you haven't to add header  "content-type": "multipart/form-data"](https://stackoverflow.com/questions/35192841/how-do-i-post-with-multipart-form-data-using-fetch), just remove it and all will work as excepted

[2021-05-16 18:21] Jacknq commented on #65
Ok, if I comment out header line it works, nevertheless axios works with that header...

[2021-08-29 21:43] hmmhmmhm commented on #19
For those who will come here, i'll leave examples of using type script code and code.

[code]

[2021-10-22 15:12] jonyyz opened #72 "Support global header defaults"
https://github.com/axios/axios#global-axios-defaults

[2021-10-22 15:21] #72 closed, assigned to nobody

[2021-10-27 20:00] jonyyz opened #73 "Improve documentation regarding response.headers"
The Redaxios documentation refers us to the Axios documentation but that's not correct for some features.  In the case of `response.headers` if we were to follow the Axios documentation to retrieve say `Content-Disposition` it would look like this:

[code]

However, redaxios has forwarded the fetch api response interface that is like so:

[code]

It would be nice to have better documentation that

[2021-11-03 08:39] axmad386 commented on #48
Hi @developit. I have updated redaxios. Before it, I use axios and this is my error handler example
[code]
But in redaxios@0.4.1 i have to refactor the code to this
[code]
Note the difference, `err.response.data (axios)` vs `err.data(redaxios)`

[2021-11-13 07:43] reinisg opened #74 "Fetch blocked by CORS policy"
Hello,
this redaxios is great. We replaced axios with redaxios, globally all working fine (GET, POST, DELETE methods).
But there appeared new issue with PATCH. [Here is console error](https://i.ibb.co/RhQ4GsL/2021-11-13-093428.png).
This issue not appearing if switch back to axios.

What actually we need to prepare some change from server or only some fixes in request?

Regards, Reinis

[2022-03-01 11:13] donlion commented on #74
I've recently encountered an issue similar to this.
However the issue wasn't with redaxios but with Laravel.
Due to some technicalities with Laravel (I'm not exactly sure what) we've had to "patch the PATCH method" ourselves, and in doing this the server would look for `PATCH` not `patch` (case sensitive). The fix for me was to uppercase the HTTP method always

[2022-03-14 23:43] patchthecode opened #76 "Put request doesnt work"
get, post works as expected.

But put doesnt work. When i look at the network request, it is not even sent.  The following is what a successful request should look like when i use the real axios.

Request headers -->
[code]

Response header
[code]

I used Chrome for this.
`Version 99.0.4844.51 (Official Build) (x86_64)`

[2022-03-15 00:07] patchthecode commented on #76
I also cant get patch to work. Is there something i am missing for `Patch` and `Put` ?

[2022-03-31 10:44] souricevincent commented on #76
Same

[2022-04-29 15:09] developit commented on #76
Can you provide an example of how you're invoking `axios()` here?

[2022-04-29 18:24] #58 closed

[2022-04-29 18:24] #74 closed

[2022-04-29 18:24] #76 closed

[2022-04-29 23:07] patchthecode commented on #76
This is not the issue.

the issue happens here with this code

[code]
presignedUrls[i] = a long URL
fileChunks[i] = a file blob

With the real Axios, you can correctly see the blob (file image) in the request payload on Chrome.
But with this redaxios, this payload is empty.

This isnt a CORS issue as the real axios works, and there are no CORS erros in the browser logs, and also, the request actua

[2022-04-29 23:07] patchthecode commented on #76
Can this issue be re-opened?

[2022-04-30 02:51] developit commented on #54
... and we're live! version 0.5.0 is available for Deno now:
https://deno.land/x/redaxios

[2022-04-30 02:51] #54 closed

[2022-04-30 16:13] patchthecode opened #81 "Put request doesnt work (reopened from #76)"
get, post works as expected.

But put doesnt work. When i look at the network request, it is not even sent.  The following is what a successful request should look like when i use the real axios.

Request headers -->
[code]

Response header
[code]

I used Chrome for this.
`Version 99.0.4844.51 (Official Build) (x86_64)`

[2022-04-30 16:13] patchthecode commented on #81
the issue happens here with this code

[code]
presignedUrls[i] = a long URL
fileChunks[i] = a file blob

With the real Axios, you can correctly see the blob (file image) in the request payload on Chrome.
But with this redaxios, this payload is empty.

This isnt a CORS issue as the real axios works, and there are no CORS erros in the browser logs, and also, the request actually went through (but wi

[2022-05-02 10:28] TommyDew42 commented on #52
Got the same behaviour in my local laptop:
[code]

On the backend, we got:
[code]

Is this sth expected?
Happy to work on it if this is confirmed to be a bug!

[2022-05-05 09:46] aleksei-savitski-softswiss opened #82 "Not possible to transform headers per request"
I'm using transformRequest to add custom header to the request before it is sent the following way:

[code]

As show in code above headers object is shared between requests and because of that it is not possible to customise headers per requests before one is sent.

The reason is that internal deepMerge function doesn't create a copy of 'options.header' property.

[2022-05-11 20:42] tamird opened #83 "return type of `create` cannot be named"
https://github.com/developit/redaxios/blob/1c2d5846d0a2172e5dd77366a836404f6ce8f71e/src/index.js#L70

`redaxios` is not defined anywhere, so it cannot be used downstream. That is, it is impossible to define a function that takes the return type of `create` as a parameter.

[2022-05-11 20:49] tamird commented on #83
Ah, I misunderstood - the problem is also that `create` is not exported at all, so it is not possible to create multiple clients.

[2022-05-11 20:54] tamird commented on #83
Ah, it's possible to work around this by writing `{typeof redaxios.default}` in the jsdoc comment.

[2022-05-13 00:37] Slapbox opened #84 "Working Axios code throws CORS errors on POST requests in Redaxios"
First, thank you for this awesome project! What a huge transfer size savings Redaxios is over Axios.

We have some code like below that works fine with Axios but fails with Redaxios:

[code]

We get:

[It seems possibly related to this question/answer](https://stackoverflow.com/a/37562814)

[2022-05-18 20:08] Slapbox commented on #84
@developit any thoughts on this? Is Redaxios supposed to support `application/x-www-form-urlencoded` content-type?

[2022-05-20 01:53] developit commented on #84
Are you able to show the CORS preflight request and response? It seems like the cors error is masking a failure here relating to the request body encoding.

In your example code, what is the `formData` value? Is it a plain object, or a `FormData` instance?

[2022-05-21 21:38] Slapbox commented on #84
Thanks very much for your reply @developit!

It is. I tried now with your suggestion but unfortunately it fails in a different way. I no longer see a CORS error, but instead the API endpoint doesn't respond as expected - it returns an HTTP 200 OK status code, but the actual API code fails to process the passed data properly, and returns a failure message.

The Axios payload looks like below - and

[2022-05-21 22:09] Slapbox commented on #84
Ah I think I've found a fix, and it's quite simple! It looks like Axios maybe applies `JSON.stringify` to the object passed as `data`.

https://programmerlib.com/how-to-send-application-x-www-form-urlencoded-format-data-with-axios-in-vue/

Indeed, wrapping our code to look like this works:

[code]

Is this logic something you'd be open to integrating into `Redaxios` to match `Axios` so we wouldn't

[2022-05-29 09:43] Loskir opened #85 "Usage on Deno"
How do I use it on Deno?

If I import it as `import axios from 'https://deno.land/x/redaxios@0.5.0/mod.ts'`, I get this error

[code]

And `./src/index.js` doesn't seem to have any other exports.

Deno version: 1.22.0

[2022-06-08 06:53] SalahAdDin opened #86 "Adding Axios like Typescript support"
Testing this package with **Typescript**, we are getting this:
`import axios, { AxiosInstance, AxiosRequestConfig } from 'redaxios';`

As far as we understand, there is a simple typing support, so, we don't understand why this package does not include the standard **axios** types.

Thank you

[2022-06-15 02:15] Slapbox commented on #84
Friendly bump. @developit what do you think? Could this be integrated directly into redaxios?

[2022-06-28 21:28] Slapbox commented on #84
Friendly bump, whenever you have a chance. I think this would be a valuable addition to Redaxios.

[2022-06-28 21:28] Slapbox commented on #84
Friendly bump @developit, whenever you have a chance. I think this would be a valuable addition to Redaxios.

[2022-07-12 01:20] xiaoqiang1999 opened #88 "Add interceptors"
We would really like to use redaxios but interceptors are quite important for us.
Would love to be able to add interceptors in redaxios.

[2022-07-15 06:59] vousmeevoyez opened #89 "Proxy support"
How to use proxy?

[code]

[2022-07-17 14:58] christopheragnus commented on #85
Second this. I can't use it on Deno until this problem is fixed.

[2022-07-26 03:04] wilt00 commented on #85
If folks are still running into this issue, you can import from the unmerged `fix-deno` branch directly - currently, it's strictly ahead of 0.5.0, so you aren't missing out on any changes. I've just tested this:
[code]
Probably not great for production use, but if you're running Deno in production, you're already using [`deno vendor`](https://deno.land/manual/tools/vendor), right? :D

[2022-08-02 20:23] SalahAdDin commented on #86
Actually, that's my case too!

[2022-08-18 03:45] #85 closed

[2022-09-30 01:34] mwood23 commented on #64
In case you do not use this field and want a patch to make it go:

[code]

[2022-09-30 22:50] developit commented on #64
CloudFlare should really not be throwing here.

[2022-10-18 18:42] icithis commented on #88
This has been requested for some time - over two years - and a PR has been sitting for about that long. Not sure why we're still waiting.

https://github.com/developit/redaxios/issues/9

[2022-10-25 19:51] Nantris commented on #84
Friendly bump.

[2022-11-21 11:48] shtief opened #91 "Missing adapter support"
The "adapter" config does not seem to work (missing compatibility to axios).

[2022-11-21 14:31] CatchABus opened #92 "Missing defaults support"
This package seems to be missing axios defaults support.
Even default instance makes use of them.

Example:
[code]
Axios has these defaults right here: https://github.com/axios/axios/blob/v1.x/lib/defaults/index.js#L59

[2022-11-24 17:02] nickchomey opened #93 "Axios is adding a fetch adapter natively. Will Redaxios have any use then?"
This PR seems close to completion for adding a Fetch Adapter. https://github.com/axios/axios/pull/5146

Will there be any need/use-case for Redaxios then? It seems like it would still be lighter-weight - is that because Redaxios is just pure Fetch, while Axios + Fetch Adapter would still have all of the XHR stuff built-in?

Thanks!

[2022-11-30 01:44] nickchomey commented on #88
The lack of interceptors is unfortunately a dealbreaker for me as well. But, the real axios seems like it'll get a fetch adapter soon enough. https://github.com/axios/axios/pull/5146

[2022-11-30 12:35] rschristian commented on #93
Indeed, even with the adapter `redaxios` should continue to be much lighter than `axios`.

There is a bit of a feature difference between the two, `axios` provides a number of helpers and some data manipulation that *will* be carried over to the new fetch implementation from the sounds of it.

`redaxios` is (for some) a more comfortable API for interacting with `fetch()` while `axios` on the other

[2022-11-30 12:36] rschristian commented on #92
Duplicate of #62

[2022-11-30 13:37] nickchomey commented on #93
Thanks! Yeah, I came to realize that redaxios isn't really axios with fetch, but just fetch with axios' api/interface. It doesn't appear to have interceptors, for example - despite there seeming to be an outstanding PR for it.

In all likelihood I'll end up using ofetch or wretch for my project - fetch with some axios-like features.

[2022-11-30 19:26] #93 closed, assigned to nobody